*.pbxproj -text
# specific for windows script files
*.bat text eol=crlf
modules/expo-mapbox-navigation/ios/Frameworks/MapboxMaps.xcframework/ios-arm64_x86_64-simulator/dSYMs/MapboxMaps.framework.dSYM/Contents/Resources/DWARF/MapboxMaps filter=lfs diff=lfs merge=lfs -text
ios/Frameworks/MapboxMaps.xcframework/ios-arm64_x86_64-simulator/dSYMs/MapboxMaps.framework.dSYM/Contents/Resources/DWARF/MapboxMaps filter=lfs diff=lfs merge=lfs -text
